<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/favicon (15).ico" type="image/x-icon">
    <link rel="stylesheet" href="../style/solutions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Nos solutions - AFRI TRAINNING & LEADERSHIP</title>
</head>
<body>
    <header id="header">
        <div class="header-top">
            <div>
                <p> <a href="#"><i class="fas fa-envelope" style="margin-right: 5px;"></i>atl@atlconsultings.com </a></p>
            </div>
            <div>
                <ul>
                    <li>Accra</li>
                    <li>Dakar</li>
                    <li>Montréal</li>
                    <li>Yaoundé</li>
                    <li>Lomé</li>
                    <li>Paris</li>
                </ul>
            </div>
        </div>
        <div class="header-bottom">
            <div class="logo">
                <a href="#">
                    <img src="../assets/images/logo1.png" alt="">
                </a>
            </div>
            <div>
                <ul class="nav">
                    <li><a href="../index.html" class="deco">Acceuil</a></li>
                    <li><a href="actualites.html" class="deco">Actualités</a></li>
                    <li class="services">
                        <a href="#">Tout savoir sur ATL <i class="fas fa-chevron-down"></i>
                            <ul>
                                <li><a href="propos.html">À propos</a></li>
                                <li><a href="besoins.html">Vos besoins</a></li>
                                <li><a href="solutions.html" class="active">Nos solutions</a></li>
                            </ul>
                        </a>
                    </li>
                    <li><a href="contact.html" class="deco">Contact</a></li>
                </ul>
            </div>
                        <div class="menu-toggle" id="menu-toggle">&#9776;</div>
            <nav id="mobile-menu">
                <ul>
                    <li><a href="../index.html">Accueil</a></li>
                    <li><a href="actualites.html">Actualités</a></li>  
                    <li class="accordion-item">
                        <div class="accordion-header">Tout savoir sur ATL <i class="fas fa-chevron-down"></i></div>
                        <ul class="submenu">
                            <li><a href="propos.html">À propos</a></li>
                            <li><a href="besoins.html">Vos besoins</a></li>
                            <li><a href="#">Nos solutions</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="section1">
        <div class="flou">
            <h1>Des solutions concrètes pour des résultats durables.</h1>
        </div>
    </section>

    <section class="section2">
        <h1>Formations</h1>
        <div class="col14">
            <div class="cart">
                <img src="../assets/images/tech.jpg" alt="">
                <h2>TECHNIQUE</h2>
                <ul>
                    <li>Dimensionnement des réseaux </li>
                    <li>Gestion des réseaux à l’heure de l’intelligence artificielle</li>
                    <li>Data centers et services à valeur ajoutée</li>
                    <li>Gestion des données et cyber sécurité</li>
                    <li>Gestion de projets</li>
                </ul>
            </div>
            <div class="cart">
                <img src="../assets/images/nego.png" alt="">
                <h2>NEGOCIATIONS BILATERALES </h2>
                <ul>
                    <li>Dimensionnement des réseaux </li>
                    <li>Gestion des réseaux à l’heure de l’intelligence artificielle</li>
                </ul>
            </div>
            <div class="cart">
                <img src="../assets/images/comm.png" alt="">
                <h2>COMMERCIAL & MARKETING</h2>
                <ul>
                    <li>Dimensionnement des réseaux </li>
                    <li>Gestion des réseaux à l’heure de l’intelligence artificielle</li>
                    <li>Data centers et services à valeur ajoutée</li>
                </ul>
            </div>
        </div>

        <div class="col14">
            <div class="cart">
                <img src="../assets/images/stat.png" alt="">
                <h2>STRATEGIE</h2>               
                <ul>
                    <li>Management et Leadership </li>                   
                    <li>Conduite du changement</li>
                </ul>
            </div>
            <div class="cart">
                <h2>REGULATION ET REGLEMENTATION </h2>
                <img src="../assets/images/regu.png" alt="">
            </div>
            <div class="cart">
                <img src="../assets/images/revu.jpg" alt="">
                <h2>REVENUE ASSURANCE & FRAUD MANAGEMENT</h2>
            </div>
        </div>

        <p class="reservation"><a href="contact.html">Réservez votre formation!</a></p>
    </section>

    <section class="section3">
        <video autoplay muted loop playsinline id="bg-video">
            <source src="../assets/videos/video-bg.mp4" type="video/mp4">
            Votre navigateur ne supporte pas la vidéo HTML5.
        </video>
        <div class="sous-section">
            <h1 class="title">Conseil </h1>
            <div class="col1">
                <img src="../assets/images/conseil.png" alt="">
                <div class="text">
                    <h1>Evaluation pré-formation</h1>
                    <p>L’approche ATL consiste à un accompagnement continu des clients dans la montée en puissance permanente des capacités de leurs ressources humaines dans un secteur des télécommunications ou les connaissances doivent s’adapter à l’évolution perpétuelle du marché.</p>
                    <p>Dans le cadre des formations intra entreprise, et afin de mieux cerner vos besoins, ATL vous offre l'opportunité de bénéficier d'une approche stratégique préalable en 4 étapes:</p>
                    <ul style="margin-bottom: 100px;">
                        <li>Un Etat des lieux de l’entreprise/structure/entité pour cerner la problématique dans votre environnement interne et externe</li>
                        <li>Un rapport diagnostic</li>
                        <li>Les solutions à mettre en place</li>
                        <li>Le suivi et évaluation des actions</li>
                    </ul>
                    <h1>Accompagnement stratégique et opérationnel des acteurs du secteur: </h1>
                    <ul>
                        <li>Diagnostic stratégique</li>
                        <li>Proposition de valeur</li>
                        <li>Elaboration d’un plan d’action</li>
                        <li>Suivi et évaluation de sa mise en œuvre </li>
                        <li>Coaching / Mentoring</li>
                    </ul>
                </div>
            </div>
            <p class="savoir"><a href="#">En savoir plus</a></p>
            <div class="col2">
                <div class="text">
                    <h1>Notre différenciation</h1>
                    <p>Dans sa volonté de permettre aux opérateurs et autres acteurs du secteur de mieux s’approprier les domaines métier et contribuer à l’essor de leurs ressources humaines avec à terme un gain en autonomie, ATL se propose de les accompagner dans :</p>
                    <ul>
                        <li>La mise en œuvre des demandes de services opérateurs</li>
                        <li>La préparation des négociations bilatérales</li>
                        <li>La conduite de projets innovants</li>
                        <li>La mise à disposition de ressources Humaines pour accompagnement</li>
                    </ul>
                </div>
                <img src="../assets/images/service.png" alt="">
            </div>
            <p class="savoir"><a href="contact.html">Contactez-nous</a></p>
        </div>
    </section>


    <footer>
        <p><span>Copyright 2020 © Réalisé par </span>Andy Angel – Mentions légales – Politique de confidentialité et cookies</p>
    </footer>
    
    <script src="../js/app.js"></script>
</body>
</html>